body{
    font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
}

body {
  padding-top: 50px;
  text-align: justify;
}
.starter-template {
  padding: 40px 15px;
  text-align: justify;
}

#sideinfo {
  padding-top: 50px;
}

.navbar-static-bottom {
  margin:0px;
}

.project-item {
	padding-top: 10px;
	padding-bottom: 25px;
}

.calendar-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mycalendar {
	padding-bottom: 10px;
}

.myanchor {
	padding-top: 60px; 
	margin-top: -60px;
}

.pagetitle {
	padding-top: 100px;
}

.affix,.navbar-fixed-top{
-webkit-transform: scale3d(1,1,1);
}

@media (min-width: 750px) {
    .container{
        max-width: 750px;
    }
}